<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.scoula.savings.mapper.AccountMapper">

    <!-- 출금용 예금 계좌번호 조회 (문자열 반환) -->
    <select id="selectAccountNoByUserId" resultType="java.lang.String">
        SELECT account_no
        FROM deposit_account
        WHERE user_id = #{userId}
        LIMIT  1
    </select>

    <!-- 예금 계좌 PK 조회 (Long 반환) -->
    <select id="selectDepositIdByUserId" resultType="java.lang.Long">
        SELECT deposit_id
        FROM deposit_account
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

    <!-- 예금 계좌 잔액 조회 -->
    <select id="selectBalanceByDepositId" resultType="java.lang.Long">
        SELECT balance
        FROM deposit_account
        WHERE deposit_id = #{depositId}
    </select>

    <!-- 예금 계좌 잔액 차감 (출금) -->
    <update id="withdrawBalance">
        UPDATE deposit_account
        SET balance = balance - #{amount},
            updated_at = NOW()
        WHERE deposit_id = #{depositId}
            AND balance >= #{amount}
    </update>

    <select id="selectUserIdByDepositId" resultType="long">
        SELECT user_id
        FROM deposit_account
        WHERE deposit_id = #{depositId}
    </select>

</mapper>