<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scoula.user.mapper.TransactionStatMapper">

    <resultMap id="categoryAverageMap" type="org.scoula.user.dto.CategoryAverageDTO">
        <result property="categoryId" column="category_id" />
        <result property="avgAmount" column="avg_amount" />
    </resultMap>

    <select id="findCategoryAverages" resultMap="categoryAverageMap">
        SELECT
            category_id,
            ROUND(SUM(amount) / #{monthsBack}) AS avg_amount
        FROM `transaction`
        WHERE user_id = #{userId}
          AND txn_type = 0
          AND category_id IS NOT NULL
          AND txn_date >= DATE_SUB(STR_TO_DATE(CONCAT(#{referenceYearMonth}, '-01'), '%Y-%m-%d'), INTERVAL #{monthsBack} MONTH)
          AND txn_date &lt;  STR_TO_DATE(CONCAT(#{referenceYearMonth}, '-01'), '%Y-%m-%d')
        GROUP BY category_id
        ORDER BY category_id
    </select>

</mapper>
