<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="CategoryVO" type="org.scoula.category.domain.CategoryVO" />
        <typeAlias alias="TransactionVO" type="org.scoula.transaction.domain.TransactionVO" />
        <typeAlias alias="CategoryAmountDTO" type="org.scoula.transaction.dto.CategoryAmountDTO" />

        <typeAlias alias="PeerStatVO" type="org.scoula.peerstat.domain.PeerStatVO" />
        <typeAlias alias="CategoryCompareDTO" type="org.scoula.peerstat.dto.CategoryCompareDTO" />

        <typeAlias alias="IncomeExpenseDTO" type="org.scoula.report.dto.IncomeExpenseDTO" />
        <typeAlias alias="WeeklyAmountDTO" type="org.scoula.report.dto.WeeklyAmountDTO" />
        <typeAlias alias="WeekdayAmountDTO" type="org.scoula.report.dto.WeekdayAmountDTO" />

        <typeAlias alias="AiSummaryVO" type="org.scoula.report.domain.AiSummaryVO" />
    </typeAliases>




</configuration>
