<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="CategoryVO" type="org.scoula.category.domain.CategoryVO" />
        <typeAlias alias="TransactionVO" type="org.scoula.transaction.domain.TransactionVO" />
        <typeAlias alias="CategoryAmountDTO" type="org.scoula.transaction.dto.CategoryAmountDTO" />
    </typeAliases>





</configuration>
